<section>
	<h2><%= name %></h2>
	<form action="/addProd" method="post">
		<input type="text" name="name" placeholder="product name"/>
		<textarea name="description" placeholder="product description"></textarea>
		<input type="number" name="price" placeholder="price"/>
		<input type="submit" name="S'enregistrer">
	</form>
</section>