<section class="annonces">
	<h2>Toutes les annonces</h2>
	<div>
	<% if (annonces.length > 0) { %>
		<% for(let i = 0; i < annonces.length; i++) { %>
			<article>
				<h3><%=annonces[i].name%></h3>
				<p><%=annonces[i].description%></p>
				<p><%=annonces[i].price%></p>
			</article>
		<% } %>
	<% } else {%>
		<p>Aucune annonce</p>
	<% } %>
	</div>
</section>
