<section>
	<h2><%= name %></h2>
	<form action="/user/login" method="post">
		<input type="text" name="email" placeholder="your email"/>
		<input type="text" name="password" placeholder="your password"/>
		<input type="submit" name="Se connecter">
	</form>
</section>
