<section class="profil">
	<h2>Mon profil</h2>
	<div>
		<h3><%= session.user.firstname %> <%= session.user.lastname %></h3>
		<p>Email: <%= session.user.email %></p>
		<p>Rôle: <%= session.user.role %></p>
	</div>
	
</section>